@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("src/assets/fonts/Sora-VariableFont_wght.ttf");
}

body {
  font-family: "CustomFont";
}
